.carousel {
  max-width: 1065px;
  position: relative;
  margin-bottom: -30px;
}

.carousel img {
  width: 100%;
  height: auto;
}

.controls {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}
