.controlItem {
  width: 200px;
  height: 94px;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-right: 10px;
  cursor: pointer;
}

.controlItem:last-child {
  margin: 0;
}

.lion {
  background-image: url(/carousel/control_lion.png);
}

.zebra {
  background-image: url(/carousel/control_zebra.png);
}

.tiger {
  background-image: url(/carousel/control_tiger.png);
}

.lion.active {
  background-image: url(/carousel/control_lion_over.png);
  background-position: top center;
}

.zebra.active {
  background-image: url(/carousel/control_zebra_over.png);
}

.tiger.active {
  background-image: url(/carousel/control_tiger_over.png);
}

@media only screen and (max-width: 820px) {
  .controlItem {
    width: 133px;
    height: 62px;
    background-size: contain;
  }
}

@media only screen and (max-width: 520px) {
  .controlItem {
    width: 100px;
    height: 47px;
    background-size: contain;
  }
}
