.footer {
  width: 100%;
  max-width: 1450px;
  color: white;
  background-image: url(/bg_footer.png);
}

.wrapper {
  max-width: 941px;
  display: flex;
  justify-content: space-between;
  font-size: var(--fz-smaller);
  line-height: 60px;
  margin: 0 auto;
}

@media only screen and (max-width: 980px) {
  .wrapper {
    padding: 0 20px;
  }
}
