.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-bottom: 8px;
}

.left {
  width: 140px;
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right {
  width: 225px;
  height: 32px;
}

.label {
  font-size: var(--fz-normal);
  color: var(--gray-5);
  font-weight: 600;
}

.input {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(243, 243, 243, 1) 100%
  );
  border: 1px solid #cecece;
  border-radius: 3px;
}

.input::placeholder {
  padding-left: 12px;
  color: var(--gray-2);
  font-size: var(--fz-smaller);
}

.submit {
  padding-left: 140px;
}

.button {
  background-color: var(--gray-8);
  color: white;
  border: none;
  border-radius: 3px;
  width: 112px;
  height: 34px;
  margin-top: 6px;
  font-size: var(--fz-normal);
  cursor: pointer;
}

.select {
  position: relative;
}

.select select,
.select option {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 12px;
  color: var(--gray-2);
  font-size: var(--fz-smaller);
}

.select:before {
  content: "";
  pointer-events: none;
  width: 25px;
  height: 24px;
  background-color: var(--gray-6);
  position: absolute;
  border-radius: 3px;
  top: 4px;
  right: 4px;
}
.select:after {
  content: "";
  pointer-events: none;
  border: 6px solid transparent;
  border-top: 6px solid white;
  position: absolute;
  top: 14px;
  right: 10px;
}
