.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-bottom: 8px;
}

.left {
  width: 120px;
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right {
  width: 225px;
  height: 30px;
}

.label {
  font-size: 14px;
  color: #5c5c5c;
  font-weight: 600;
}

.input {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(243, 243, 243, 1) 100%
  );
  border: 1px solid #cecece;
  border-radius: 3px;
}

.input::placeholder {
  padding-left: 12px;
  color: #9c9a9a;
  font-size: 13px;
}

.submit {
  padding-left: 120px;
}

.button {
  background-color: #323232;
  color: white;
  border: none;
  border-radius: 3px;
  width: 112px;
  height: 34px;
  margin-top: 6px;
  font-size: 14px;
  cursor: pointer;
}
