.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-bottom: 8px;
}

.left {
  width: 140px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 13px;
}

.label {
  color: var(--gray-5);
  font-size: var(--fz-normal);
  font-weight: 600;
}

.right {
  width: 225px;
  height: 32px;
}

.input,
.select {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(243, 243, 243, 1) 100%
  );
  border: 1px solid #cecece;
  border-radius: 3px;
  padding-left: 12px;
}

.input::placeholder {
  color: var(--gray-2);
  font-size: var(--fz-smaller);
  line-height: 13px; /* Safari fix @ */
  font-family: "Open Sans", sans-serif !important; /* Chrome fix v inputech */
}

.withArrow {
  position: relative;
}

.select,
.select option {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: var(--gray-2);
  font-size: var(--fz-smaller);
  font-family: "Open Sans", sans-serif !important; /* Chrome fix v inputech */
}

.withArrow:before {
  content: "";
  pointer-events: none;
  width: 25px;
  height: 24px;
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: var(--gray-6);
  border-radius: 3px;
}

.withArrow:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 14px;
  right: 10px;
  border: 6px solid transparent;
  border-top: 6px solid white;
}

.submit {
  padding-left: 140px;
}

.button {
  width: 112px;
  height: 34px;
  background-color: var(--gray-8);
  color: white;
  border: none;
  border-radius: 3px;
  font-size: var(--fz-normal);
  margin-top: 6px;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .row {
    flex-direction: column;
  }

  .left {
    justify-content: flex-start;
    margin: 5px 0;
    padding: 0;
  }

  .submit {
    margin-top: 5px;
    padding-left: 0;
  }
}
