.headline {
  width: 100%;
  height: 30px;
  max-width: 941px;
  display: flex;
  justify-content: center;
  color: var(--gray-4);
  font-weight: 300;
  background-image: url(/bg_line.png);
  background-repeat: repeat-x;
  background-position-y: 50%;
  margin: 10px auto 20px;
}

.title {
  font-size: var(--fz-title);
  line-height: 28px;
  background-color: white;
  padding: 0 15px;
}
