.headline {
  color: #6a6a6a;
  text-align: center;
  width: 940px;
  margin: 10px auto;
  margin-bottom: 30px;
  background-image: url(/line-bg1.png);
  background-repeat: repeat-x;
  background-position-y: 50%;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
}

.title {
  padding: 0 15px;
  background-color: #fff;
}
