.header {
  width: 100%;
  max-width: 980px;
  display: flex;
  position: relative;
  color: white;
  padding: 0 20px;
  z-index: 50;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.burger {
  display: none;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul li {
  height: 26px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  font-size: var(--fz-larger);
  line-height: 26px;
  margin: 0 6px;
  padding: 0px 14px;
  cursor: pointer;
  transition: 0.18s;
}

.ul li:hover {
  background-color: white;
  color: black;
}

.ul li.active {
  background-color: white;
  padding-top: 2px;
}

@media only screen and (max-width: 820px) {
  .header {
    height: auto;
    flex-direction: column;
    padding: 0;
  }

  .wrapper {
    padding: 0 20px;
  }

  .logo {
    height: 60px;
    width: auto;
  }

  .burger {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background-image: url("/burger/open.svg");
    background-size: contain;
  }

  .nav {
    display: none;
  }

  .ul {
    flex-direction: column;
  }

  .ul li {
    height: auto;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px 30px;
  }

  .ul li.active {
    padding-top: 10px;
  }

  .expand .burger {
    width: 40px;
    height: 40px;
    background-image: url("/burger/close.svg");
    background-size: contain;
  }

  .expand .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-image: url(/bg_header.png);
    padding: 15px;
  }
}
