.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.top {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 100%;
  max-width: 981px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
