.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/bg_header.png);
  background-repeat: no-repeat;
  background-position-y: -7%;
  margin: 0 auto;
}
