.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
  color: white;
  background-image: url(/top_background.png);
  background-repeat: no-repeat;
}
