.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/top_background.png);
  background-repeat: no-repeat;
  background-position-y: -7%;
  margin: 0 auto;
  padding: 0 0.5rem;
}
