.map {
  width: 100%;
  text-align: center;
  padding: 65px 0 0;
}

.title {
  color: var(--gray-4);
  font-size: var(--fz-title-larger);
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.text {
  color: var(--gray-3);
  font-size: var(--fz-smallest);
  margin: 0;
}

.scroll {
  padding-top: 30px;
  overflow-x: auto;
}

.image {
  width: 941px;
  height: 225px;
  position: relative;
  line-height: 0; /* Firefox fix (scroll) */
  margin-bottom: 6px;
}

@media only screen and (max-width: 980px) {
  .scroll {
    padding: 30px 20px 0;
  }
}
