.map {
  width: 100%;
  max-width: 941px;
  padding: 35px 0 0;
  color: var(--gray-600);
  text-align: center;
}

.title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
}

.text {
  font-size: var(--fz-smaller);
  margin-bottom: 0;
}

.scroll {
  padding-top: 30px;
  width: 100%;
  overflow-x: scroll;
}

.image {
  position: relative;
  width: 941px;
  height: 225px;
}

.image img {
  width: 100%;
  height: auto;
}
