.itemWrapper {
  position: absolute;
  border: solid 3px black;
  border-radius: 50%;
  cursor: pointer;
}

.itemWrapper::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 50%) rotate(180deg);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}

.itemWrapper:hover::after {
  top: -10px;
}

.itemWrapper:hover .text {
  opacity: 1;
}

.item {
  width: 42px;
  height: 42px;
  position: relative;
  border: solid 2px white;
  border-radius: 50%;
}

.text {
  width: auto;
  position: absolute;
  top: -44px;
  left: 50%;
  color: white;
  background: black;
  border-radius: 3px;
  font-size: var(--fz-largest);
  line-height: 36px;
  white-space: nowrap;
  padding: 0 15px;
  opacity: 0;
  z-index: 10;
  transition: 0.4s;
  transform: translate(-50%, -50%);
}
