.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0px auto 80px;
  width: 100%;
  max-width: 940px;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }
}
