.item {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.data {
  padding: 8px 16px 0;
}

.title {
  font-size: var(--fz-normal);
  font-weight: 600;
  text-decoration: underline;
}

.text {
  font-size: var(--fz-smaller);
  line-height: 1.5;
  margin: 5px 0;
}

@media only screen and (max-width: 980px) {
  .item {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
}
