.item {
  display: flex;
  width: 33%;
  justify-content: space-between;
}

.data {
  padding: 8px 16px 0;
}

.title {
  color: black;
  font-size: var(--fz-normal);
  text-decoration: underline;
  font-weight: 600;
}

.text {
  margin: 5px 0;
  font-size: var(--fz-smaller);
  color: black;
  line-height: 1.5;
}

@media only screen and (max-width: 950px) {
  .item {
    width: 100%;
    margin-bottom: 20px;
    max-width: 300px;
  }
  /* .item:nth-child(even) {
    flex-direction: row-reverse;
  } */
}
