.news {
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto 70px;
}

@media only screen and (max-width: 980px) {
  .news {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
}
