.arrow {
  display: flex;
  align-items: center;
  color: var(--gray-6);
  margin: 0 13px;
  cursor: pointer;
  user-select: none;
}

.right {
  transform: rotate(180deg);
}

.arrow svg {
  fill: currentColor;
}

.disabled {
  color: var(--gray-1);
}
