.wrapper {
  display: flex;
  margin: 5px 0 55px 0;
}

.items {
  width: calc(4 * 214px);
  overflow: hidden;
}

.slider {
  display: flex;
  position: relative;
  left: 0px;
  transition: 0.5s;
}

.item {
  width: 200px;
  line-height: 1px;
  margin: 0 7px;
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .items {
    width: calc(3 * 214px);
  }
}

@media only screen and (max-width: 820px) {
  .items {
    width: calc(2 * 214px);
  }
}

@media only screen and (max-width: 520px) {
  .items {
    width: calc(1 * 214px);
  }
}
